---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import '../styles/global.css';
import GridPosts from '../components/GridPosts.astro';
const posts = await getCollection('posts');
---

<Layout>
    <main>
    <div class="blog-container">
        <h1>Blog</h1>
        <div class="grid">
                <GridPosts posts={posts} /> <!-- Utilizando el componente GridPosts para mostrar las tarjetas de los posts , se le pasa la colección de posts cogiendola de PostCard -->
        </div>
        <a href="/" class="volver-inicio">Volver al inicio</a>
    </div>
</main>
</Layout>


