---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
---

<Layout>
    <Header />
    <main>
        <h1>Card</h1>
        <div class="grid">
         {posts.map((post: any) => (
            <div class="card">
                <article>
                    <h2>{post.data.title}</h2>
                    <p>{post.data.description}</p>
                    <a href={`/blog/${post.slug}`}>Leer más</a>
                </article>
            </div>
         ))}
        </div>
    </main>
    <Footer />
</Layout>

<style>
    .grid {
        display: grid;
        margin: 0 auto;
        width: 20%;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
    .card {
        background-color: #332c55;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border: 1px solid #ffffff;
        margin-bottom: 20px;
    }
    article a {
        color: #ffffff;
        text-decoration: none;
    }
    article a:hover {
        color: #000000;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 10px;
    }
</style>