---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
		<title>BΞΛTZ</title>
  <body>
    <main>
      <!--Galeria de discos-->
      <div class="gallery-container">
        <!--Primera galeria de discos-->
        <h4>Para ti</h4>
        <div class="gallery-section">
          <!--Boton de flecha izquierda-->
          <button class="arrow left">&#9664;</button>
          <!--Columna de discos-->
          <div class="column">
            <!--Disco 1-->
            <div class="image">
				<img src="/img/1.jpg" alt="Album Cover" />
            </div>
            <!--Disco 2-->
            <div class="image">
              <img src="/img/2.jpg" alt="Album Cover" />
            </div>
            <!--Disco 3-->
            <div class="image">
            <img src="/img/3.jpg" alt="Album Cover"  />
            </div>
            <!--Disco 4-->
            <div class="image">
              <img src="/img/4.jpg" alt="Album Cover"  />
            </div>
            <!--Disco 5-->
            <div class="image">
              <img src="/img/5.jpg" alt="Album Cover"  />
            </div>
          </div>
          <!--Boton de flecha derecha-->
          <button class="arrow right">&#9654;</button>
        </div>
        <!--Segunda galeria de discos-->
        <h4>Explorar</h4>
        <div class="gallery-section">
          <!--Boton de flecha izquierda-->
          <button class="arrow left">&#9664;</button>
          <!--Columna de discos-->
          <div class="column">
            <!--Disco 1-->
            <div class="image">
              <img src="/img/6.jpg" alt="Album Cover" />
            </div>
            <!--Disco 2-->
            <div class="image">
              <img src="/img/7.jpg" alt="Album Cover"  />
            </div>
            <!--Disco 3-->
            <div class="image">
              <img src="/img/8.jpg" alt="Album Cover"  />
            </div>
            <!--Disco 4-->
            <div class="image">
              <img src="/img/9.jpg" alt="Album Cover" />
            </div>
            <!--Disco 5-->
            <div class="image">
              <img src="/img/10.jpg" alt="Album Cover"  />
            </div>
          </div>
          <!--Boton de flecha derecha-->
          <button class="arrow right">&#9654;</button>
        </div>
      </div>
    </main>
</Layout>