---
---
<header>
  <nav>
    <div class="nav-buttons">
      <a href="/contact"><button class="login">Iniciar sesión</button></a>
      <a href="/about"><button class="login">Sobre mí</button></a>
      <a href="/blog"><button class="login">Blog</button></a>
      <a href="/proyectos"><button class="login">Proyectos</button></a>
      <a href="/card"><button class="login">Card</button></a>
      <a href="/fotos"><button class="login">Fotos</button></a>
    </div>
    <div class="nav-center">
      <h1>BΞΛTZ</h1>
    </div>
    <div class="nav-right">
      <a href="/">
        <img src="/img/miembro.jpg" alt="Profile Picture" />
      </a>
    </div>
  </nav>
</header>